<?xml version="1.0"?>
<launch>
    <arg name="image" default="/webcam"/>
    <arg name="verbose" default="false"/>
    <arg name="publish" default="true" />
    <arg name="weights" default="None" />

	<node pkg="yolov8" type="yolo.py" name="yolo_node" required="true" output="screen" >
        <param name="image" type="string" value="$(arg image)"/>
        <param name="verbose" type="bool" value="$(arg verbose)"/>
        <param name="publish" type="bool" value="$(arg publish)"/>
        <param name="weights" type="string" value="$(arg weights)"/>
    </node>
</launch>
