<?xml version="1.0"?>
<launch>
    <arg name="verbose" default="false"/>
    <arg name="publish" default="true" />
    
    <node pkg="yolov8" type="cam.py" name="webcam_publisher" required="true" output="screen" />
	<node pkg="yolov8" type="yolo.py" name="yolo_node" output="screen" >
        <param name="image" type="string" value="/webcam"/>
        <param name="verbose" type="bool" value="$(arg verbose)"/>
        <param name="publish" type="bool" value="$(arg publish)"/>
    </node>
</launch>
